@import "../../Helper//variable";

ul.myBranch li a.myBranch.active{
    background-color: $color-mint;
    color: $color-grey;
}
ul.myBranchForm li a.myBranchForm.active{
    background-color: $color-mint;
    color: $color-grey;
}
ul.myBranch{
    background-color: $color-grey;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-top: 40px;
    padding: 0 ;
    width: 74%;
}
ul.myBranchLogo{
    background-color: $color-grey;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 ;
    width: 74%;
}
ul.myBranchLogo li.myBranchLogo a.myBranchLogo{
    background-color: $color-mint;
    color: $color-grey;
}
ul.myBranchForm{
    margin-bottom: 10px !important;
    margin-left: 0;
    margin-top: 40px;
    padding: 0 ;
}
ul li a.myBranch,ul li a.myBranchForm{
    color: $color-mint;
}
ul li a.myBranch:hover{
    color: $color-mint;
}
.myPhimCinema{
    border: 1px solid $color-mint;
    font-family: 'Playball', cursive;
    font-size: 40px;
    letter-spacing: 2;
    -webkit-line-clamp: 1;
    margin-left: 70px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}
.myPhimCinemaMovie{
    border: 1px solid $color-mint;
    font-size: 40px;
    letter-spacing: 2;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.myCinema{
    padding-left: 100px;
}
.borderCinema{
    background-color: $color-grey;
    border: 1px solid $color-mint;
    margin-top: 30px;
    width: 100%;
}

.lichChieuCinema{
    background-color: $color-grey;
    border: 1px solid $color-mint;
    color: $color-mint;
    font-size: 14px;
    padding: 10px;
}
.lichChieuCinema:hover,.bookVe:hover{
    background-color: $color-mint;
    color: $color-grey;
    text-decoration: none;
}
.lichChieuCinema.active{
    background-color: $color-white;
    color: $color-grey;
}
.bookingVe{
    background-color: $color-grey;
    border: 1px solid $color-mint;
    color: $color-white;
    font-size: 14px;
    padding: 10px;
}
.bookVe{
    background-color: $color-grey;
    border: 1px solid $color-mint;
    color: $color-white;
    font-size: 14px;
    padding: 10px;
}
.bookingVe .bookingVeactive{
    background-color: $color-mint;
    color: $color-grey;
}
.bookingVeactive:hover{
    background-color: $color-mint;
    color: $color-grey;
    text-decoration: none;
}
.bookingVebg,.bookingVebgposition{
    background-color: $color-grey;
    border: 1px solid $color-mint;
}
.bookingVebgposition{
    height: 550px;
    margin-left: 80px;
    padding-right: 0;
    position: fixed;
    z-index: 999;
}
.bookingVe .bookingVedis{
    background-color: $color-grey;
    color: $color-mint;
}
.bookingVe .bookingVeactive:focus{
    outline: none;
}

