
@import "../../Helper/variable";

.mynavBg{
    background-color: $color-mint; 
}
.myNav__ul {
    background-color: $color-mint;
}

ul{
    background: $color-grey;
    list-style: none;
    padding: 0;
}
ul li{
    display: inline-block;
    line-height: 21px;
    position: relative;
    text-align: left;
}
ul li a{
    color: $color-grey;
    display: block;
    padding: 20px;
    text-decoration: none;
}
ul li a:hover{
    color: $color-grey;
    width: 100%;
}
ul li ul.dropdown{
    background:  $color-grey;
    display: none;
    left: 0;
    position: absolute;
    z-index: 999;
}
ul li ul.dropdown.gocDienAnh{
    background:  $color-grey;
    display: none;
    left: 0;
    position: absolute;
    width: 180px;
    z-index: 999;
}

ul li ul.dropdown li{
    width: 100%;
}
ul li ul.dropdown .carouselNavbar{
    height: 100%;
    width: 1000px;
    
}
ul li a.carouselNavbar{
    padding: 0 10px;
}
ul li ul.carouselNavbar {
    padding: 20px;
}
p{
    margin: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}

.myNav__link{
    padding: $pd-0;
}

.myNav .myNav__ul .myNav__link {
    font-weight: 500 ;
    line-height: $line-height-0;
}
.gocDienAnh__ul{
    display: none;
    &::after{
        display: block;
        list-style: none;
    }
}
