@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
// variable color
$color-black: #0B0C10; // default
$color-grey: #1F2833;
$color-gray :  #C5C6C7;
$color-mint : #66FCF1;
$color-lightgreen:#45A29E;
$color-white: white;


// variable font-size
$fs-0: 10px; //default
$fs-1: 15px;
$fs-2: 20px;
$fs-3: 30px;
//Còn 1 font-size: 36px;
$fs-4: 40px;
$fs-5: 60px;

//variable margin
$mg-0: 0px;
$mg-05: 5px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 30px;

//border
$bd-0: none;
$bd-1: 1px;
//variable border-radius
$border-radius: 10px;

//variable padding
$pd-0: 0px; //default
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 30px;
$pd-4: 40px;


//variable line-height
$line-height-0: 2; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 400;
$fw-bold-1: 700;
$fw-bold: bold;


// variable width
$width-0: 1440px;
$width-1: 1200px;
$width-2: 992px;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
    'screen-0': 1440px
)
//font
