@import '../../Helper/variable';

.myCarousel__ol .myCarousel__li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    
}
.myCarousel__inner .myCarousel__item{
    display: block;
}
.myModal{
    background-color: $color-grey;
}
