@import "../../Helper/variable";
.myForm{
    position: absolute;
    top: 20%;
    right: 10%;
    background-color: rgba(31, 40, 51,0.4);
    padding: 20px;
    padding-bottom: 60px;
}
.myButton__muaVe{
    position: absolute;
    right: 20px;
}