@import '../../Helper/variable';

.myPhim{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: table-header-group;
    
}
.myPhim:hover{
    background-color: rgba(0,0, 0, 0.2);
    .myPhim_moTa{
        display: none;
    }
    .myMovieNavlink{
    visibility: visible;
    margin-bottom: 60px;
    }
}
.myPhimNavBar{
    width: 50%;
    margin: 5px auto 0;
}
.myPhimItemNavbar{
    visibility: hidden;
}
.myPhim:hover{
    .myPhimItemNavbar{
        visibility: visible;
    }
}
.myCinemaBook{
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
.myPhim__Name{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    letter-spacing: 4;
    font-size: $fs-2;
    font-weight: 500;
    font-family: 'PT Serif', serif;
}
.myPhim_moTa{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}
.myPhim_moTaNavbar{
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}
.myCard {
    color: $color-black;
    width: 255px;
    height: 440px;
}
.myMovieNavlink{
    visibility: hidden;
}
.myNavlink{
    width: 100%;
    margin: 2px 40px;
}

.myCardNavbar{
    color: $color-black;
}
