@import '../../Helper/variable';

.myPhim{
    display: table-header-group;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.myPhim:hover{
    transform: translate3d(20px,-30px,40px);
    transition: .5s;
    .myPhim_moTa{
        display: none;
    }
    .myMovieNavlink{
    margin-bottom: 60px;
    visibility: visible;
    }
}
.myPhimNavBar{
    margin: 5px auto 0;
    width: 50%;
}
.myPhimItemNavbar{
    visibility: hidden;
}
.myPhim:hover{
    .myPhimItemNavbar{
        visibility: visible;
    }
}
.myCinemaBook{
    height: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
.myPhim__Name{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-family: 'PT Serif', serif;
    font-size: $fs-2;
    font-weight: 500;  
    letter-spacing: 4;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.myPhim_moTa{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.myPhim_moTaNavbar{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.myCard {
    color: $color-black;
    height: 440px;
    width: 255px;
}
.myMovieNavlink{
    visibility: hidden;
}
.myNavlink{
    margin: 2px 40px;
    width: 100%;
}

.myCardNavbar{
    color: $color-black;
}
