@import "../../Helper/variable";

.myHeader,.myHeader__bg {
    padding: $pd-0;
}
.headerImg {
    width: 60px;
}
.happyfilm {
    color: $color-mint;
    font-family: 'Playball', cursive;
    font-size: $fs-5;
    letter-spacing: 4px;
}
.LiSearch {
    display: contents;
    position: absolute;
    width: 300px;
    z-index: 999;
}
.UlSearch{
    position: absolute;
    top: 40px;
    width: 300px;
    z-index: 1;
}
ul.UlSearch{
    background: none;
}
.SearchCard{
    background: $color-grey;
    border: none;
    color: $color-mint;
    height: 110px;
    margin-bottom: 2px ;
}
.ImgSearch{
    height: 110px;
    padding: 0;
}
.myPhim_moTaSearch{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;  
}
ul li a{
    padding: 0;
}
.ValidationErr{
    color: $color-mint;
    display: contents;
    font-size: 10px;
    margin: 10px;
    padding: 10px;
}